@charset "utf-8";
/*CSS document*/

.hidden
{
	display: none;
}

div,p,body,header,footer,section,article,nav,h1,h2,h3,h4,h5 
{ 
    margin: 0; 
    padding: 0; 
} 

img 
{ 
    border: none; 
    margin: 0; 
    padding: 0; 
}

body 
{
    font-family: Myriad Pro, Helvetica, Arial, sans-serif;
    background-image: url("../images/background-green.jpg")
 
}

.container
{
    width: 960px;
    margin: 0 auto;
}

/*Header css*/
#mainHeader
{
    width: 960px;
    height: 200px;
    display: flex;
    flex-direction: row;
}

#signIn
{
    margin-right: 20px;
}

#buttonDiv
{
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
}

.buttonTop
{
    width: 85px;
    height: 35px;
    background-color: #608b4b;
    font-size: 18px;
    color: #fff;
    font-weight: bolder;
}

#mainNav
{
    width: 500px;
    height: 60px;
    margin-left: auto;
    display: inline-flex;
    justify-content: center;
    background-color: #394737;
    align-items: center;
    margin-top: 20px;
    margin-left: 50px;
    box-shadow: 2px 2px 5px 1px;
}

#mainNav ul
{
    list-style-type: none;
    padding: 0px;
}

#mainNav ul li
{
    display: inline;
    font-size: 26px;
    margin: 0px 10px 0px 20px;
}

ul li a
{
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

#mainNav ul li a
{
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

#mainNav ul li a:hover
{
    background-color: #608b4b;
    color: #000000;
    box-shadow: inset 0 0 0 3px #000000;
    padding: 5px;
    border-radius: 10px;
}

#mainLogo
{
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/*Home page content css*/
#promo
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}

.promoBox
{
    width: 285px;
    height: 270px;
    background-color: #394737;
    padding: 5px;
    box-shadow: 2px 2px 5px 1px;
}

.productImg
{
    text-align: center;
    margin-top: 8px;
}

.productImg h2, .productImg h3
{
    color: #fff;
}


.productImg img
{
    padding: 5px;
    background-color: #fff;
}

#contentHome
{
    width: 910px;
    height: 320px;
    background-color: #394737;
    margin: auto;
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 2px 2px 5px 1px;
}

.conBox
{
    width: 215px;
    height: 300px;
    background-color: #f9e5b9;
    text-align: center;
    padding: 5px;
}

.conBox h3
{
    font-weight: bolder;
    font-size: 26px;
}

.textBox
{
    background-color: #608b4b;
    width: 170px;
    height: 90px;
    margin: auto;
}

.textBox p
{
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    color: #fff;
}

/*Footer css*/
#mainFooter
{
    width: 960px;
    height: 180px;
    display: flex;
    justify-content: space-evenly;
}

#footerNav
{
    width: 550px;
    height: 100px;
    background-color: #394737;
    margin-top: 100px;
    margin-bottom: 70px;
    padding-bottom: 5px;
    box-shadow: 2px 2px 5px 1px;
    display: flex;
}

#footerNav nav
{
    display: flex; 
    text-align: center;
}

ul
{
    list-style-type: none;
}

#footerNav nav ul li
{
    font-size: 26px;
    padding: 3px
}

#footerNav nav ul li a:hover
{
    background-color: #608b4b;
    color: #000000;
    box-shadow: inset 0 0 0 3px #000000;
    padding: 5px;
    border-radius: 10px;
}

.soc1 ul li
{
    list-style-type: none;
    display: inline;
}

.soc1 ul
{
    margin-top: 30px;
}


#copyRight
{
    width: 260;
    height: 70;
    text-align: center;
    margin-top: 115px;
}

#copyRight ul li
{
    font-size: 9px;
}

/*Bud page css*/
#rollPromo
{
    width: 920px;
    height: 240px;
    background-color: #394737;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-left: 20px;
    box-shadow: 2px 2px 5px 1px
}

#rollBox
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

#rollBox img
{
    padding: 5px;
    background-color: #fff;
    margin-top: 9px;
}

#rollBox h2
{
    font-size: 48px;
    color: #fff;
    margin-bottom: 15px;
}

#dealBox
{
    width: 355px;
    height: 205px;
    background-color: #f9e5b9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-top: 17px;
    align-items: center;
}

#dealText
{
    width: 300px;
    height: 125px;
}

#dealBox h2
{
    font-size: 36px;
    margin-top: 8px;
}

#dealText p
{
    font-weight: bold;
    font-size: 16px;
    padding: 0px 10px 0px 10px;
}

#limitedTime
{
    margin-top: 15px;
    line-height: 1.5;
}

#free
{
    font-size: 30px;
    font-weight: bolder;
}

#contentBud
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 60px;
}

.budBox
{
    width: 200px;
    height: 335px;
    background-color: #394737;
    text-align: center;
    box-shadow: 2px 2px 5px 1px;
}

.budBox #bud1, #bud3
{
    margin-top: 28px;
}

.budBox #bud2, #bud4
{
    margin-top: 6px;
}

.budBox h3
{
    color: #fff;
}

.budBox img
{
    padding: 5px;
    background-color: #fff;
    margin-top: 14px
}

.budText
{
    width: 170px;
    height: 85px;
    margin: auto;
    background-color: #f9e5b9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.budText h5, .budText p
{
    font-size: 12px;
}

#moreButton
{
    width: 75px;
    height: 35px;
    background-color: #394737;
    color: #fff;
    font-weight: bolder;
    font-size: 17px;
    box-shadow: 2px 2px 5px 1px #000000;
    border: none;
}

.more
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}

/*CSS for contact page*/

#contentContact
{
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.contentBox
{
    width: 440px;
    height: 630px;
    background-color: #394737;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contentBox h2
{
    font-size: 45px;
    color: #fff;
    margin-bottom: 7px;
}

.formButton
{
    width: 132px;
    height: 45px;
    background-color: #608b4b;
    border: none;
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
    margin: 0px 20px;
}

#formSection
{
    width: 385px;
    height: 505px;
    background-color: #f9e5b9;
    margin-bottom: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 15px;
    font-weight: bolder;
}

input[type=text], input[type=email], input[type=password]
{
    display: block;
    margin: 10px 45px 10px 48px;
    width: 75%;
}

input[placeholder]
{
    text-align: center;
}

input[type=checkbox]
{
    display: block;
    margin: auto;
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#submitButton
{
    width: 70px;
    height: 30px;
    background-color: #394737;
    color: #fff;
    font-weight: bolder;
    border: none;
}


#perkDiv
{
    width: 380px;
    height: 160px;
    background-color: #f9e5b9;
    text-align: center;
}

#perkDiv p
{
    padding: 10px 10px 0px 10px;
    font-weight: bold;
}

#photoDiv
{
    display: flex;
    flex-direction: row;
}

.perk
{
    display: flex;
    flex-direction: column;
    margin: 0px 45px 0px 45px;
    justify-content: space-evenly;
    height: 340px;
}

.perkPhoto
{
    width: 145px;
    height: 150px;
    background-color: #f9e5b9;
    text-align: center;
}

.perkPhoto img
{
    background-color: #fff;
    padding: 3px;
    margin-top: 5px;
}

.perkPhoto h3
{
    font-size: 13px;
    font-weight: bolder;
}





